<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID">
	<display-name>shopping</display-name>
	<servlet>
		<description>
		</description>
		<display-name>signupservlet</display-name>
		<servlet-name>signupservlet</servlet-name>
		<servlet-class>shopping.servlet.signupservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>resetservlet</display-name>
		<servlet-name>resetservlet</servlet-name>
		<servlet-class>shopping.servlet.resetservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>verifyotpservlet</display-name>
		<servlet-name>verifyotpservlet</servlet-name>
		<servlet-class>verifyotpservlet.verifyotpservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>verifyOTPservlet</display-name>
		<servlet-name>verifyOTPservlet</servlet-name>
		<servlet-class>shopping.servlet.verifyOTPservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>verifyotp</display-name>
		<servlet-name>verifyotp</servlet-name>
		<servlet-class>shopping.servlet.verifyotp</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>setpassservlet</display-name>
		<servlet-name>setpassservlet</servlet-name>
		<servlet-class>shopping.servlet.setpassservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>productservlet</display-name>
		<servlet-name>productservlet</servlet-name>
		<servlet-class>shopping.servlet.productservlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>imageservlet</display-name>
		<servlet-name>imageservlet</servlet-name>
		<servlet-class>shopping.servlet.imageservlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>signupservlet</servlet-name>
		<url-pattern>/signupservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>resetservlet</servlet-name>
		<url-pattern>/resetservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>verifyotpservlet</servlet-name>
		<url-pattern>/verifyotpservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>verifyOTPservlet</servlet-name>
		<url-pattern>/verifyOTPservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>verifyotp</servlet-name>
		<url-pattern>/verifyotp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>setpassservlet</servlet-name>
		<url-pattern>/setpassservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>productservlet</servlet-name>
		<url-pattern>/productservlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>imageservlet</servlet-name>
		<url-pattern>/imageservlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
